@font-face { font-family: ‘Mofista’; font-style: regular;  src: url(“Mofista.otf”) format(“opentype”)}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
}

/* TYPOGRAPHY AND STYLES */

body {
    /* font-family: 'Outfit', sans-serif; */
    font-family: Avenir;
    font-size: 1rem;
    color: #000;
}

h1, h2 {
    color: #000;
    font-family: Mofista;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 5rem;
}

.subheading {
    /* font-family: 'Outfit'; */
    font-family: Avenir;
    line-height: normal;
    font-size: 2rem;
    color: #000;
    text-align: center;
    font-weight: 500;
    padding-top: 2rem;

}

.bodycopy {
    /* font-family: 'Outfit', sans-serif; */
    font-family: Avenir;
    font-size: 1.25rem;
    color: #000;
    margin-left: 6rem;
    margin-right: 6rem;
    font-weight: 300rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    line-height: 187.523%;
}

.bodycopychatservice {
    /* font-family: 'Outfit', sans-serif; */
    font-family: Avenir;
    font-size: 1.25rem;
    color: #000;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;

}

h4 {
    color: #FFD04B;
}


/* NAV BAR */

.header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.logo {
    width: 100%;
    padding-left: 8rem;
    padding-top: 2rem;
    
}

#insightlogo{
    width: 24rem;
    height: 12.25rem;
    object-fit: cover;
}

.nav ul{
    color: #FFD04B;
    display: flex;
    list-style: none;
    column-gap: 30px;
    padding-top: 5rem;
}


.material-symbols-rounded {
    color:#FFD04B;
    width: 2rem;
    height: 4rem;

}

.hamburgermenu {
    padding-top: 2rem;
}

.bars {
    background-color:#FFD04B;
    width: 29px;
    height: 3px;
    margin: 5px  0;
    border-radius: 1rem;
}

/* TYPE ON COLLECTION IMAGES */

.reyesreinastext {
    font-family: 'Mofista';
    font-size: 4rem;
    color: #5D0009;
    position: absolute;
    top: 70%;
    margin-left: 2rem;
    line-height: 3rem;
}

.lluviatext {
    font-family: 'Mofista';
    font-size: 4rem;
    color: #5D0009;
    position: absolute;
    top: 70%;
    margin-left: 35rem;
    text-align: right;
    line-height: 1.5rem;

}

#firstlinelluvia::after {
    content: "\a";
    white-space: pre;
}

#secondlinecollection::before {
    content: "\a";
    white-space: pre;
}

#secondlinecollection {
    font-size: 3rem;
}

.querenciatext {
    font-family: 'Mofista';
    font-size: 4rem;
    color: #5D0009;
    position: absolute;
    top:70%;
    margin-left: 2rem;
    line-height: 3rem;
}




/* VIDEOS AND IMAGES */


.homeVideo{
    width: 100%;
    height: 40rem;
    object-fit: cover;
}



.leftcontainerimages {
    width: 100%;
    height: 31.625rem;
    object-fit: cover;
    display: block;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 41.33%, rgba(0, 0, 0, 0.00) 100%), url(images/weddingcoupleimage.jpg), lightgray 50% / cover no-repeat;
}

.rightcontainerimages{
    width: 100%;
    height: 31.625rem;
    object-fit: cover;
    display: block;
}

.customerservicephoto {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
}


/* COLLECTION BOXES */

.collectionsGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0px;
    padding-bottom: 8rem;
}

.left-grid-1{ 
    width: 100%;
    position: relative;
}

.right-grid-1{
    position: relative;
}

.left-grid-2{
    position: relative;
}







/* BUTTONS */

.buttoncontainer {
    align-content: center;
    padding-bottom: 9rem;
}

.discoverNow {
    border: 1px solid #000;
    padding-top: 0.81rem;
    padding-bottom: 0.81rem;
    width: 21.25rem;
    height: 2.75rem;
    margin-right: 45rem;
    margin-left: 45rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.discoverNow:hover {
    background-color: #5D0009;
    color: #fff;
}

.discoverNow:focus {
    border: 7px solid #5D0009;
    filter: blur(2px);
}


.discoverNow2 {
    border: 1px solid #000;
    width: 21.25rem;
    height: 2.75rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.discoverNow2:hover {
    background-color: #5D0009;
    color: #fff;

}

.right-button-1 {
    padding-left: 18rem;
    padding-top: 15rem;
}

.left-button-1 {
    padding-left: 12rem;
    padding-top: 15rem;
}

.buttoncontainerletschat {
    padding-bottom: 5rem;
}


.letsChatbutton {
    border: 1px solid #000;
    padding-top: 0.81rem;
    padding-bottom: 0.81rem;
    width: 21.25rem;
    height: 2.75rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
    margin-right: 45rem;
    margin-left: 45rem;
}

.letsChatbutton:hover {
    background-color: #5D0009;
    color: #fff;
}



/* FOOTER */ 

.containerfooter {
    background-color: #000;
}

.fullcontainerlinks {
    display: inline-flex;
    margin-left: 26rem;
}

.footerlinks {
    text-decoration: none;
    color:#fff;
    font-family: Avenir;
    
}

.footerlinks:hover {
    color: #FFD04B;
}


ul {
    list-style-type: none;
}

.firstcolumnleft {
    flex-direction: column;
    line-height: 2rem;
    margin: 5rem;
}

.footertext1stcolumn {
    padding-bottom: 1rem;
}


.secondcolumnmiddle {
    flex-direction: column;
    line-height: 2rem;
    margin: 5rem;
}

.footertext2ndcolumn {
    padding-bottom: 1rem;
}

.lastcolumnright {
    flex-direction: column;
    line-height: 2rem;
    margin: 5rem;

}

.footertext3rdcolumn {
    padding-bottom: 1rem;
}

.footericon {
    display: flex;
    column-gap: 10px;
    width: 2;
    height: 2;
}

.allrightsreserved {
    color: #FFF;
    font-family: Avenir;
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 2rem;
}