@font-face { font-family: ‘Mofista’; font-style: regular;  src: url(“Mofista.otf”) format(“opentype”)}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
}

/* TYPOGRAPHY AND STYLES */

body {
    /* font-family: 'Outfit', sans-serif; */
    font-family: Avenir;
    font-size: 1rem;
    color: #000;
}

h1, h2 {
    color: #000;
    font-family: Mofista;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 5rem;
}

h3 {
    font-family: Mofista;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.subheading {
    /* font-family: 'Outfit'; */
    font-family: Avenir;
    line-height: normal;
    font-size: 2rem;
    color: #000;
    text-align: center;
    font-weight: 500;
    padding-top: 2rem;

}

.bodycopy {
    font-family: Avenir;
    font-size: 1.25rem;
    color: #000;
    margin-left: 6rem;
    margin-right: 6rem;
    font-weight: 300rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    line-height: 187.523%;
}

.bodycopychatservice {
    font-family: Avenir;
    font-size: 1.25rem;
    color: #000;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

h4 {
    color: #FFD04B;
}

.nameonaccount {
    font-family: Avenir;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.emailaddress {
    font-family: Avenir;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.bodycopylist {
    font-family: Avenir;
    font-size: 1.25rem;
    color: #000;
    font-weight: 300rem;
    line-height: 187.523%;
    text-decoration: none;
}

.listspacing {
    margin-bottom: 14px;
}

.bodycopy2 {
    line-height: 4rem;
}

span#boldorderinfo {
    font-family: 'Avenir';
    font-weight: 700;
}

span#italicorderinfo {
    font-family: 'Avenir';
    font-style: oblique;
}

.lineheighttogether {
    line-height: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.bodycopy3 {
    font-family: Avenir;
    font-size: 1.25rem;
    color: #000;
    margin-left: 6rem;
    margin-right: 6rem;
    font-weight: 300rem;
    padding-bottom: 5rem;
    line-height: 187.523%;

}

span.nameofwatchbold {
    display: flex;
    justify-content: center;
    font-weight: 900;
}

.textpriceandname {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

span.pricetextregular {
    display: flex;
    justify-content: center;
}

h5 {
    font-family: Mofista;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.bodycopy5 {
    font-family: Avenir;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 191.1%;
}



/* NAV BAR */

.header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.logo {
    width: 100%;
    padding-left: 8rem;
    padding-top: 2rem;
    
}

#insightlogo{
    width: 24rem;
    height: 12.25rem;
    object-fit: cover;
}

.navicons{
    display: flex;
    list-style: none;
    column-gap: 30px;
    padding-top: 5rem;
}


.material-symbols-rounded {
    color:#FFD04B;
    width: 2rem;
    height: 4rem;

}

.hamburgermenu {
    padding-top: 2rem;
}

.bars {
    background-color:#FFD04B;
    width: 29px;
    height: 3px;
    margin: 5px  0;
    border-radius: 1rem;
}


/* TYPE ON COLLECTION IMAGES */

.reyesreinastext {
    font-family: 'Mofista';
    font-size: 4rem;
    color: #5D0009;
    position: absolute;
    top: 70%;
    margin-left: 2rem;
    line-height: 3rem;
}

.lluviatext {
    font-family: 'Mofista';
    font-size: 4rem;
    color: #5D0009;
    position: absolute;
    top: 70%;
    margin-left: 35rem;
    text-align: right;
    line-height: 1.5rem;

}

#firstlinelluvia::after {
    content: "\a";
    white-space: pre;
}

#secondlinecollection::before {
    content: "\a";
    white-space: pre;
}

#secondlinecollection {
    font-size: 3rem;
}

.querenciatext {
    font-family: 'Mofista';
    font-size: 4rem;
    color: #5D0009;
    position: absolute;
    top:70%;
    margin-left: 2rem;
    line-height: 3rem;
}




/* VIDEOS AND IMAGES */


.homeVideo{
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.leftcontainerimages {
    width: 100%;
    height: 31.625rem;
    object-fit: cover;
    display: block;
}

.rightcontainerimages{
    width: 100%;
    height: 31.625rem;
    object-fit: cover;
    display: block;
}

.customerservicephoto {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
}

.profilepicture {
    width: 13.8125rem;
    height: 13.8125rem;
    display: grid;
}

.leftsideimage {
    object-fit: cover;
    padding: 2rem;
}

.watchphotoorders {
    object-fit: cover;
}

.watchphotofavorites {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
}

.homeImage {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.leftcontainerimages2 {
    width: 100%;
    height: 50rem;
    object-fit: cover;
    display: block;
}

.rightcontainerimages2 {
    width: 100%;
    height: 50rem;
    object-fit: cover;
    display: block;
}


/* COLLECTION BOXES */

.collectionsGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0px;
    padding-bottom: 8rem;
}

.left-grid-1{ 
    width: 100%;
    position: relative;
}

.right-grid-1{
    position: relative;
}


.customerservicegridsection {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0px;
    padding-bottom: 8rem;
}

/* CUSTOMER SERVICE BOXES */

.left-grid-2 {
    position: relative;
    height: 50rem;
}

.left-button-2 {
    position: relative;
}

.right-grid-2 {
    position: relative;
    height: 50rem;
}

.right-button-2 {
    position: relative;
}


/* CONTAINERS  */


.firstsectionaccountcontainer {
    display: flex;
    padding-left: 16rem;
    padding-right: 16rem;
}

.leftSide {
    display: grid;
    align-items: center;
    grid-template-columns:  0.32fr 1.7fr;
    column-gap: 33px;
}

.rightSide {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 8fr;
    padding-left: 5rem;
}

.profilepiccontainer {
    display: block;
}

.profilenameandemail {
    display: block;
    grid-template-columns: 50% 50%;
}

.rightsideaccountinfo {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.secondsectionofaccount {
    display: flex;
    padding-left: 13rem;
    padding-bottom: 6rem;
}

.horizontalwatchcontainer{
    display: flex;
    border: 1px solid #000;
    margin-left: 2rem;
    
}

.rightsideorderinfo {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.thirdsectionofaccount {
    display: flex;
    padding-left: 17rem;
    padding-bottom: 6rem;
}

.columnlefticons {
    width: 4rem;
    padding: 8.4375rem 1.1875rem;
}

.watchfavoritecolumnleft {
    display: flex;
}

.watchfavoritecolumnmiddle {
    display: flex;
}

.watchfavoritecolumnmiddle2 {
    display: flex;
}

.watchfavoritecolumnright {
    display: flex;
    padding-top: 9.5rem;
}

.headerwithiconscollections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 30rem;
}

.secondsectioncollectioncontainer {
    display: grid;
    flex-direction: row;
    grid-template-columns: 25% 25% 25% 25%;
}

.watchcollectioncontainer {
    display: flex;
    place-content: center;
    margin-bottom: 11rem;
}

.companyaddress {
    display: flex;
    justify-content: center;
    gap: 20rem;
}

/* DECORATION */

.verticalLine {
    border-right: 4px solid black;
}

.material-symbols-rounded.black {
    color:#000;
}

.accountIcon {
    line-height: 5rem;
}

.horizontalLine {
    border-bottom: 4px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.material-symbols-rounded.red {
    color:  #5D0009;
}

.iconsredtogether {
    width: 1.875rem;
    height: 1.875rem;
}

.oneblack2 {
    color:#000;
    font-size: 42px !important;

}

.twoblack2 {
    color:#000;
    font-size: 42px !important;
}

.horizontalLinetwo {
    border-bottom: 4px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
}


/* BUTTONS */

.buttoncontainer {
    align-content: center;
    padding-bottom: 9rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.discoverNow {
    border: 1px solid #000;
    padding-top: 0.81rem;
    padding-bottom: 0.81rem;
    width: 21.25rem;
    height: 2.75rem;
    margin-right: 45rem;
    margin-left: 45rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Avenir';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.discoverNow:hover {
    background-color: #5D0009;
    color: #fff;
}

.discoverNow:focus {
    border: 7px solid #5D0009;
    filter: blur(2px);
}


.discoverNow2 {
    border: 1px solid #000;
    width: 21.25rem;
    height: 2.75rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Avenir';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.discoverNow2:hover {
    background-color: #5D0009;
    color: #fff;

}

.right-button-1 {
    padding-left: 18rem;
    padding-top: 15rem;
}

.left-button-1 {
    padding-left: 12rem;
    padding-top: 15rem;
}

.buttoncontainerletschat {
    padding-bottom: 5rem;
}


.letsChatbutton {
    border: 1px solid #000;
    padding-top: 0.81rem;
    padding-bottom: 0.81rem;
    width: 21.25rem;
    height: 2.75rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Avenir';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
    margin-right: 45rem;
    margin-left: 45rem;
}

.letsChatbutton:hover {
    background-color: #5D0009;
    color: #fff;
}

.buttoneditprofile {
    padding-left: 61.5rem;
    padding-top: 2rem;
    padding-bottom: 6rem;

}

.editProfilebutton {
    border: 1px solid #000;
    width: 19rem;
    height: 2.75rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Avenir';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.editProfilebutton:hover {
    background-color: #5D0009;
    color: #fff;
}

.viewOrder {
    border: 1px solid #000;
    width: 10rem;
    height: 2.75rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Avenir';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.viewOrder:hover {
    background-color: #5D0009;
    color: #fff;
}


.buttoncollections {
    display: flex;
    justify-content: space-evenly;
    margin: 0 8rem;
}


.reyesbutton {
    border: 1px solid #000;
    width: 21.25rem;
    height: 2.75rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Avenir';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.reinasbutton {
    border: 1px solid #000;
    width: 21.25rem;
    height: 2.75rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Avenir';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.reyesbutton:hover {
    background-color: #5D0009;
    color: #fff;
}

.reinasbutton:hover {
    background-color: #5D0009;
    color: #fff;
}

.buttonscontainers {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 5rem;
}

.buttonscustomerservice {
    border: 1px solid #000;
    width: 21.25rem;
    height: 2.75rem;
    fill: none;
    align-items: center;
    background-color: transparent;
    display: inline-block;
    font-family: 'Avenir';
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
}


/* FOOTER */ 

.containerfooter {
    background-color: #000;
}

.fullcontainerlinks {
    display: inline-flex;
    margin-left: 26rem;
}

.footerlinks {
    text-decoration: none;
    color:#fff;
    font-family: Avenir;
    
}

.footerlinks:hover {
    color: #FFD04B;
}


ul {
    list-style-type: none;
}

.firstcolumnleft {
    flex-direction: column;
    line-height: 2rem;
    margin: 5rem;
}

.footertext1stcolumn {
    padding-bottom: 1rem;
}


.secondcolumnmiddle {
    flex-direction: column;
    line-height: 2rem;
    margin: 5rem;
}

.footertext2ndcolumn {
    padding-bottom: 1rem;
}

.lastcolumnright {
    flex-direction: column;
    line-height: 2rem;
    margin: 5rem;

}

.footertext3rdcolumn {
    padding-bottom: 1rem;
}

.footericon {
    display: flex;
    column-gap: 10px;
    width: 2;
    height: 2;
}

.allrightsreserved {
    color: #FFF;
    font-family: Avenir;
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 2rem;
}